.lang-change-area{
    display: flex;
    flex-direction: row;
    gap:5px;
    justify-content: center;
    align-items: center;

    button.lang{
        border: unset;
        background: none;
        border-radius: 5px;
        width: 40px;
        transition: 200ms ease-in-out;
        &:hover{
            background: rgb(235, 235, 235);
        }
        &.active{
            background: rgb(213, 213, 213);
        }
        img {
            width: 100%;
            display: block;
        }

        
    }
}

.Dropdown-control {
    border: unset;
    padding: 3px 25px 3px 10px;
    background: unset;
    text-transform: uppercase;
}

.Dropdown-menu {
    .Dropdown-option::before {

        background-image:url('https://cdn.discordapp.com/attachments/966965279466864664/976438782201069598/Screen_Shot_2565-05-18_at_17.58.57.png');
    }
}