@mixin btn_portfolio {
  display: block;
  color: black;
  text-decoration: none;
  padding: 5px 15px;
  transition: all 0.4s ease-in-out;
}

.portfolio-page {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  overflow: hidden;
  background: white;
  z-index: 999;
  border: 2px solid;
  box-shadow: 3px 3px 0 black;

  .handle {
    cursor: grab;
  }

  .portfolio-container {
    padding: 20px;
    position: relative;
    overflow-y: scroll;
    height: 500px;

    .port-content-list {
      position: relative;
      display: block;
      margin-bottom: 30px;

      p {
        letter-spacing: 1px;
      }
    }

    .port-content-link {
      display: flex;
      gap: 10px;
      justify-content: flex-start;

      a {
        @include btn_portfolio;
        border: 1px solid;
        &:hover {
          background: black;
          color: white;
        }

        &.github {
          border: 1px solid #4f4f81;

          &:hover {
            background: #4f4f81;
            color: white;
          }
        }
      }
    }

    .btn-box {
      display: inline-block;
        
      .btn-github {
        @include btn_portfolio;
        border: 1px solid #4f4f81;
        &:hover {
          background: #4f4f81;
          color: white;
        }
      }
    }
  }
}
