@media (max-width:480px){
    .home-page{
        overflow-y: scroll;
    }

    .main-screen{
        height:200px;
    }
}

@media (max-width:768px){
    .home-page{
        overflow-y: scroll;

        .main-content-block{
            display: block;

            .block-header{
                width: 100%;
            }
            .block-image {
                display: block;
                padding: 10px;
                width: 20% !important;
                svg , img {
                    display: block;
                    width: 100% !important;
                }

                &.hover{
                    
                    svg , img {
                        width: 100% !important;
                    }

                    .block-hover{
                        top: 50% !important;
                        width: 200px;
                    }
                }
            }

        }
    }

    .about-me , .resume-page , .portfolio-page , .contact-page{
        width: 90%;
    }
    .main-screen{
        height:800px;
        overflow-y: scroll;
    }


}